:root {
  /* Global Variables */
}

* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  border: 3px solid transparent;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.3em solid transparent;
  border-left: 0.2em solid transparent;
  border-radius: 0.5rem;
}
